html {
    all: unset
}

body {
    background-color: #1B1B1B;
    padding: 0px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #353535;
    z-index: 1000;
    padding: 10px;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

.navbar-nav {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    display: block;
}

.nav-item a {
    color: #FFFFFF !important;
    text-decoration: none;
    text-align: center;
}

.nav-item a:hover {
    color: #f8f9fa;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

.pageHeads {
    margin-top: 15%;
}

.card-sub-head,
.card-head {
    width: fit-content;
    margin: auto;
    margin-bottom: 4%;
    color: white;
}

h1 {
    font-size: 3.2rem;
}

.card {
    white-space: pre;
    background-image: linear-gradient(#1B1B1B, #4F5669, #1B1B1B);
    color: white;
}

.container-circle {
    width: 50%;
    height: 90vh;
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    background-image: linear-gradient(rgba(205, 163, 183, 1), rgba(243, 188, 202, 0.5), rgba(244, 199, 194, 0.2));
}

.cont-head {
    color: black;
    margin: 8% auto 4% auto;
    font-size: 2rem;
}

.container-circle input {
    background-color: transparent;
    border: none;
}

.inputs i {
    flex-grow: 1;
}

.inputs {
    color: black;
    display: flex;
    align-items: center;
    background-color: thistle;
    height: 8%;
    border-radius: 8%;
    background-clip: unset;
}

.submit-form {
    border-radius: 50%;
    width: 20%;
    height: 20%;
}

main {
    color: white;
}

.mainHeads {
    margin: 12% auto 0;
    padding: 8%;
    width: auto;
    background-image: linear-gradient(#1B1B1B, #5B6474)
}

.Mainmsg {
    font-size: 1.25rem
}

.bigMain {
    /*border: 1px solid red;*/
    background-image: linear-gradient(#5B6474, #4F5669);
    display: flex;
    justify-content: space-around;
    height: 40vh;
}

.boxes {
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
    padding: 4%;
    margin-bottom: 2%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

.boxes .material-icons {
    scale: 2.8;
    cursor: pointer;
    color: rgba(243, 188, 202);
}

@media (max-width: 820px) {
    .navbar-nav {
        width: 100%;
        flex-direction: column;
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar.open .navbar-nav {
        display: flex;
    }

    h1 {
        font-size: 2.0rem;
    }

    .container-circle {
        width: 90%;
        height: 40vh;
    }

    .cont-head {
        font-size: 1.6rem;
    }

    .Mainmsg {
        font-size: 0.8rem;
    }

    .bigMain {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        height: 80vh;
    }

    .boxes {
        width: 80vw;
        border-radius: 10%;
        justify-content: space-evenly;
    }
}
