html {
    all: unset
}

body {
    background-color: #1B1B1B;
    padding: 0px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #353535;
    z-index: 1000;
    padding: 10px;
}

.navbar-toggler {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 10px;
}

.navbar-nav {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-item {
    flex-grow: 1;
    display: block;
}

.nav-item a {
    color: #FFFFFF !important;
    text-decoration: none;
    text-align: center;
}

.nav-item a:hover {
    color: #f8f9fa;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin-top: 10%;
    overflow: hidden;
}

.projects-scroll {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 20px 0;
    scrollbar-width: none;
    /* Hide scrollbar for Firefox */
    font-size: 1.4rem;
}

.a {
    background-image: url("homepageIndex.png");
}

.b {
    background-image: url("CommunalInventory.png");
    color: black;
}

.c {
    background-image: url("emile-perron-xrVDYZRGdw4-unsplash.jpg");
}

.project-card {
    flex: 0 0 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 20px;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.project-card h3,
.project-card p {
    position: relative;
    z-index: 2;
    font-size: 2rem;
    padding: 10px;
}


/*.project-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}*/

.scroll-btn {
    position: absolute;
    z-index: 3;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.3s;
}

.scroll-btn:hover {
    background: rgba(0, 0, 0, 0.8);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

@media (max-width: 768px) {
    .project-card {
        flex: 0 0 100vw;
        height: 60vh;
    }

    .navbar-nav {
        width: 100%;
        flex-direction: column;
        display: none;
    }

    .navbar-toggler {
        display: block;
    }

    .navbar.open .navbar-nav {
        display: flex;
    }

    .project-card p {
        font-size: 0.8rem;
    }
}
